#app{
  max-width:1200px ;
  margin: 0 auto;
  padding: 60px 30px;  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

@media (max-width:1000px){
  .main-content{
    flex-direction: column;
  }
  .main-content main{
    margin-left: 0;
    margin-top: 30px;
  }
  .main-content aside{
    width: 92%;
  }
}
