aside{
	width:320px;
	background: #fff;
	box-shadow:  0 0 14px 0 rgba(0, 0, 0, 0.137);
	border-radius: 5px;
	padding: 30px 20px;
}
main{
	flex: 1;
	margin-left:30px;
}
main ul{
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	grid-template-columns: repeat(2,1fr);
	gap:20px;
	list-style: none;
}
@media (max-width:500px){
	main ul{
		display: grid;
		/* grid-template-columns: 1fr 1fr; */
		grid-template-columns: 1fr;
	}
  }


.user-info strong{
	display: block;
	font-size: 16px;
	color:#333;
}
.user-info span{
	display: block;
	font-size: 14px;
	color:rgb(92, 91, 91);
}

li.dev-item p{
	color: #666;
	text-align:justify;
	line-height: 20px;
	margin:10px 0;
}
li.dev-item a{
	color: #9f7bdd;
	text-align:justify;
	line-height: 20px;
	margin:10px 0;
}
li.dev-item a:hover{
	color: #7454aa;
}

